<div class="contianer d-flex  align-items-center" style="flex-direction: column;">
    <div class="h1" style="font-weight: 800;font-family: sans-serif;">Add New Book</div>
    <p class="text-success">Share a book with the community by filling out the details below.</p>
    
    <form  class="form p-2 border rounded" style="background-color: white;" [formGroup]="addBookForm" (ngSubmit)="onSubmit()">
        
         <div class="d-flex  align-items-center m-1 rounded p-1" style="flex-direction: column;  border: 1px dashed gray;">
            <img src="{{filePath}}" alt=""   height="150px" width="100px" *ngIf="isClick==false" >
            <div *ngIf="isClick" class="d-flex">
                <div *ngFor="let i of fileUrls" >
                <img src="{{i}}" alt=""   height="150px" width="100px" *ngIf="isClick" class="mx-2">
                </div>
            </div>
            <div>
                <p class="text-success h6 mx-4">Upload Max 6 Images</p>
                <p class="text-secondary ">SVG, PNG, GPJ max 800x400px</p>
            </div>
         </div>
         <input type="file" class="form-control" id="myFile" (change)="getPhoto()" multiple>
         <div class="mb-3">
            <label for="title" class="form-label"></label>
            <input type="text" class="form-control" id="title" placeholder="Enter Book title" formControlName="title">
         </div>
         <div class="row mb-3">
            <div class="col-6">
                <label for="author" class="form-label">Author</label>
                <input type="text" class="form-control" placeholder="Enter Author Name" formControlName="author">
            </div>
            <div class="col-6">
                <label for="category" class="form-label">Category</label>
                <select class="form-select"   formControlName="category">
                     <option *ngFor="let c of categoryList" [value]="c">{{c}}</option>
                </select>
            </div>
         </div>
        <div class="mb-3">
             <label for="description" class="form-label">Description</label>
             <textarea name="description" id="description"  class="form-control" placeholder="Enter Book Description" formControlName="description" ></textarea>
        </div>
        <div class="row mb-3">
            <div class="col-6">
                <label for="price" class="form-label">Price</label>
                <input type="number" class="form-control" id="price" formControlName="price">
            </div>
            <div class="col-6">
                <label for="rent" class="form-label">Rent Price</label>
                <input type="number" id="rent" class="form-control" formControlName="rentPerMonth">
            </div>
        </div>
        <input type="submit" value="Add Book" class="btn btn-success">
    </form> 
</div>