<div class="container-fluid">
    <div class="row p-2 border-bottom">
        <div class="col-sm-4 col-md-2 d-flex justify-content-start"><div class="h4" routerLink="/">BookMate</div></div>
        <div class="col-sm-4 col-md-8  justify-content-center">
            <div>
                <input type="text" class="form-control">
            </div>
        </div>
        <div class="col-sm-4  col-md-2 d-flex justify-content-end">
            <div class="btn btn-outline-primary mx-1" routerLink="/login" routerLinkActive="btn btn-outline-success ">Log In</div>
            <div class="btn btn-primary" routerLink="/signup" routerLinkActive="  btn btn-success">Sign Up</div>
        </div>
    </div>
</div>